<div class="col-md-8">
  <form [formGroup]="user_form" (ngSubmit)="on_submit_form()">
    <div class="form-group">
      <label for="first_name">Prénom</label>
      <input type="text" id="first_name" class= 'form-control' formControlName= 'first_name'>
    </div>
    <div class="form-group">
      <label for="last_name">Nom</label>
      <input type="text" id="last_name" class= 'form-control' formControlName= 'last_name'>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" id="email" class= 'form-control' formControlName= 'email'>
    </div>
    <div class="form-group">
      <label for="drink_preference">Boisson</label>
      <select id="drink_preference" class= 'form-control' formControlName= 'drink_preference'>
        <option value="coca">coca</option>
        <option value="pepsi">pepsi</option>
      </select>
    </div>
    <div formArrayName="hobbies">
      <h3>Hobbies</h3>
      <div class="form-group" *ngFor="let hobby_control of get_hobbies().controls; let i = index">
        <input type="text" class='form-control' [formControlName]="i">
      </div>
      <button type="button" class= 'btn btn-success' (click)="on_add_hobby()">ajouter un hobby</button>

    </div>
    <button class='btn btn-success' type= 'submit' [disabled]="user_form.invalid">GO</button>
  </form>
</div>
