<li [ngClass]="{'list-group-item': true, 'list-group-item-danger': fruit_category === 'Acid' }">
  <!-- <div
    class="btn btn-success"
    *ngIf="fruit_category === 'Acid'">
  </div> -->
  <h3 [ngStyle]="{color: get_color()}">
    {{ fruit_name }} -- {{ get_status() }}
  </h3>
  <a [routerLink]="[id]">détail</a>

  <!-- <input type="text" class= "form-control" [(ngModel)]="fruit_name"> -->
  <button type="button" class="btn btn-success"
          (click)="on_switch_on()"
          [disabled]="fruit_category === 'Doux'">Rendre Doux</button>

  <button type="button" class="btn btn-danger"
          (click)="on_switch_off()"
          [disabled]="fruit_category === 'Acid'">Rendre Acid</button>
</li>
