<h2>fuits</h2>
<p>MAJ : {{ last_update | async | date: 'short' | uppercase}}</p>
<ul class="list list-group">
  <app-fruit *ngFor="let fruit of fruits; let i = index"
              [index_of_fruit]="i"
              [fruit_name]="fruit.name"
              [fruit_category]="fruit.category"
              [id]="fruit.id">
  </app-fruit>
</ul>
<button class= 'btn btn-success'
        [disabled]="!is_auth"
        (click)="enable()" >tout allumer
</button>

<button class= 'btn btn-danger' (click)="disable()"> Tout éteindre </button>

<button class= "btn btn-warning" (click)="on_save()"> REGISTER DATABASE </button>

<button class="btn btn-primary" (click)="on_fetch()"> RÉCUPÉRER LES DONNÉES</button>
