<h2>connexion</h2>
<button type="button"
        class="btn btn-primary"
        *ngIf="!auth_status"
        (click)="on_sign_in()">
        Se connecter
</button>


<button type="button"
        class="btn btn-warning"
        *ngIf="auth_status"
        (click)="on_sign_out()">
        Se déco
</button>
