<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav">
    <li routerLinkActive="active" class="nav-item">
      <a class="nav-link" routerLink="auth">Connexion</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="users">Utilisateurs</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="new_user">New User</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="fruits">Fruits</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="edit">New Fruit</a>
    </li>
  </ul>
  <div class="navbar-right">
    Vous êtes connecté depuis {{ secondes }}
  </div>
</nav>

<div class="container">
  <div class="row">
    <router-outlet></router-outlet>
  </div>
</div>
