<div class="row">
  <div class="col-sm-8">
    <form (ngSubmit)="on_submit(f)" #f="ngForm">
      <div class="form-group">
        <label for="name">nom</label>
        <input type="text" id="name" class="form-control" name="name" ngModel required>
      </div>
      <div class="form-group">
        <label for="category">catégorie</label>
        <select id="category" class="form-control" name="category" [ngModel]="default_on_acid" >
          <option value="Doux">Doux</option>
          <option value="Acid">Acid</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="f.invalid">Enregistrer</button>
    </form>
  </div>
</div>
