<ul class="list-group">
  <li class="list-group-item" *ngFor="let user of users">
    <h4>{{ user.first_name }} {{ user.last_name }}</h4>
    <p> {{ user.email}} </p>
    <p> Boisson : {{ user.drink_preference }}</p>
    <p *ngIf="user.hobbies && user.hobbies.length > 0">
      Hobbies :
      <span *ngFor= "let hobby of user.hobbies"> {{ hobby }} </span>
    </p>
  </li>

</ul>
